/* some modifications by tamouse@gmail.com */

/* Set up the outer part to hold a flex column */
html, body {
    height: 100%;
    font-size: 100pt;
    font-family: sans-serif;
    width: 80%;
    margin: auto;
}

/* go with classes instead of id's for styling */

/* this creates a flex column. it will stretch to fill the entire height */
.counter {
    min-height; 100%;
    display: flex;
    flex-direction: column;
}
.counter > div {
    flex: 1;
}

/* each row of the display. in this case, a row for counter buttons, and a row
   for the results. */
.row {
    text-align: center;
    width: 100%;
}

/* open up the style for the buttons, not much changed here, specify the height */
.button {
    background-color:#2a4758;
    color:#fff;
    font-size:40pt;
    width:120px;
    height: 120px;
    outline:0;
    border:0;
    border-radius: 10px;
    padding-bottom:20px;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
}

.button:hover {
    cursor:pointer;
    background-color:#d9b06f;
}
.button:active {
    transform: scale(0.95);
}

/* make a space to hold the result */
.result {
    width: 200px;
    height: 200px;
    margin: auto;
    border-radius: 10px;
    background-color: green;
    border-color: darkgreen;
    text-align:center;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

/* this did not need the extra qualifier */
.changing {
    color:#f95a61;
    transform: scale(1.2);
}
